{% extends 'base.html.twig' %}

{% block title %}Rénitialisation du mot de passe{% endblock %}

{% block body %}
    <div class="container flex-grow-1">
        <div class="row mt-4 justify-content-center">
            <div class="col-8 align-self-center">
                <h1>Réinitialisation du mot de passe</h1>
                <p class="h5">Changer de mot de passe</p>
                {{ form_start(form) }}
                {{ form_row(form.password) }}
                <div class="mb-4">
                    <button class="btn btn-primary">Envoyer</button>
                </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
