<footer class="py-4 bg-primary flex-shrink-0 text-muted text-center text-small">
    <div class="container text-center">
        <p class="text-secondary m-0">© 2021 SnowTricks</p>
    </div>
</footer>
