<form class="d-inline" method="post" action="{{ path('trick_delete', {'id': trick.id}) }}" onsubmit="return confirm('Est-vous sûr de vouloir supprimer cette figure ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">
    <button class="btn p-0"><i class="bi bi-trash-fill text-danger"></i></button>
</form>
